<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <%for(var i = 0; i < json.arr.length; i++) {%>
        <div>
            姓名:<%= json.arr[i].name %>,年龄:<%= json.arr[i].age %>
        </div>
    <%}%>
</body>
</html>