<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin登录</title>
</head>
<body>
    <div class="login-dialog">
        <form action="/admin/login" method="post">
            用户名: <input type="text" name="username" id="username">
            密  码: <input type="password" name="password" id="password">
            <input type="submit" value="登录">
        </form>
    </div>
</body>
</html>